* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #333;
    color: #fff;
}

.container {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.content {
    text-align: center;
    border: 1px solid lightgray;
    padding: 50px;
}

.content label {
    margin: 10px 10px;
}

input {
    margin: 10px 0px;
    width: 100%;
    padding: 5px 10px;
    text-align: center;
}

button{
    display: inline-block;
    outline: none;
    border: none;
    background: crimson;
    color: #fff;
    padding: 10px 15px;
    cursor: pointer;
}